<h1 mat-dialog-title>Add Category</h1>
<form [formGroup]="addForm" (ngSubmit)="onSubmitForm()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <div *ngIf="name&&name.invalid && (name.dirty || name.touched)" [style.color]="'red'">{{addForm.controls.name.errors | showError}}</div>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput><input type="file" (change)="onLoadImage($event)">
        <img *ngIf="image.src" class="upload-img" [src]="image.src">
        <div *ngIf="!image.src&&img&&img.invalid&& (img.dirty || img.touched)" [style.color]="'red'">{{this.addForm.controls.image.errors | showError}}</div>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button [mat-dialog-close]="false" (click)="onCancel()">Cancel</button>
    <ng-container *ngIf="isUpdate; else createButton">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </ng-container>
    <ng-template #createButton>
      <button mat-raised-button color="primary" type="submit">Create</button>
    </ng-template>
  </div>
</form>
